$gray-800: #2d3748;
$gray-600: #718096;
$gray-500: #b7c1cc;
$gray-400: #cbd5e0;
$gray-100: #efefef;

$color-primary: #ec7405;
$color-secondary: #c10029;

// fosis
$font-size-large: 24px;
$font-size-x-large: 30px;

// spacings

$spacing-xx-large: 84px;
$spacing-x-large: 64px;
$spacing-large: 48px;
$spacing-medium: 20px;
$spacing-small: 10px;

// Breakpoints

$bp-x-large: 1280px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 640px;
